* {    
    margin: 0;
    padding: 0;
}


body{  
    font-family: 'Courier New', Courier, monospace;
    background:#E9ECF4;
    color: #000;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, auto);
}


header{
background: #67618f;
height: 100px;
width: 100%;
margin: 0px;
grid-column-start: 1;
grid-column-end: -1;

}
header h1{
    color: white;
    line-height: 1.6em;
}


.boton{
    width: 250px;    height: 50px;
    background-color: #73a7d7;
    border-radius: 5em;
    cursor: pointer;
    transition: backgroun-color 1s;    
}
.boton:hover{
    background-color: rgb(66, 66, 66);
}
.boton p  {
    text-align: center;
    font-size: 2em; font-weight: bold;
    color: #fff;
    line-height: 1.6em;
}



